<% if @user.image %>
  <p class='user-image' src='<%= @user.image %>'></p>
<% else %>
  <p class='user-default'></p>
<% end %>

<div class='user-infocard'>
  <ul>
    <li class='user-fullname'><%= @user.first_name %> <%= @user.last_name %></li>
    <li class='user-username'><%= @user.username %></li>
    <li class='user-info'>Location: <%= @user.location %></li>
    <li class='user-info'>Email: <%= @user.email %></li>
  </ul>
  <% if @user == current_user %>
    <button id='user-edit-info'>Edit Info</button>
  <% end %>
</div>

<div id='user-bio'>
  <p><%= @user.bio %></p>
  <% if @user == current_user %>
    <button id='user-edit-bio'>Edit Bio</button>
  <% end %>
</div>

<%= render partial: 'posts#new' %>

<%= render partial: 'posts#feed' %>
