<!DOCTYPE html>
<html>
  <head>
    <title>JamHq</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div id="top_header">
      <a href="/" id="top_logo">JamHQ</a>
    </div>

    <nav>
      <% if current_user.nil? %>
        <%= link_to "Login", session_path %>
        <%= link_to "Register", new_session_path %>
        <%= link_to "Log In With Facebook", facebook_path(provider: :facebook) %>
      <% else %>
        <%= link_to "Log Out", session_path, method: :delete, id: "sign_out" %>
      <% end %>
    </nav>

    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= yield %>

  </body>
</html>
